nav {
    margin-top: 1%;
    display: flex;
    // justify-content: space-around;
    background-color: #33333370;  
    border-radius: 5px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 1%;
    text-align: left;
}

.active {
    color: blue;
}

nav a:hover {
    color: #e85356;
    font-weight: 1000;
}



fa {
    display: none;
}

@media only screen and (max-width: 900px) {

    fa {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        position: fixed;
        right: 0%;
        left: 0%;
        width: 100%;
    }

    nav a {
        margin: 2%;
        border-radius: 5px;
        background-color: #33333370;
        text-align: center;
    }

    fa {
        color: white;
    }

    .hide {
        display: none;
    }
}