// .footer-container {
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     padding: 1% 0.75% 0% 0.75%;    
// }

.footer {
    border-radius: 5px;
    width: 100%;
    background-color: #33333370;
    color: white;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
    margin: 1% 1% 0% 1%;
}

a:hover {
    color: #e85356;     
}

p a {
    color: #e85356; 
    text-decoration: none;   
}