.footer {
    position: fixed;
    bottom: 0;
    width: 99%;
    background-color: #33333370;
    color: white;
    text-align: center;
    border-radius: 5px;
}

a {
    color: #e85356; 
    text-decoration: none;   
}